Source: modest
Section: mail 
Priority: optional
Maintainer: Dirk-Jan C. Binnema <dirk-jan.binnema@nokia.com>
Build-Depends: debhelper (>= 4.0.0), cdbs, dpkg-dev gtkhtml-dev, hildon-libs-dev, libc6-dev, libdbus-1-dev, libdbus-glib-1-dev, libebook-dev, libedataserver-dev, libgconf2-dev, libglib-2.0-dev, libosso-abook-dev, libosso-gnomevfs2-dev, libhildonmime-dev,libtinymail-1.0-0-dev, libtinymail-camel-1.0-0-dev, libtinymail-maemo-1.0-0,libtinymailui-1.0-0-dev,libtinymailui-gtk-1.0-0,wpeditor-dev
Standards-Version: 3.6.0

Package: modest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: an e-mail client for platforms with modest resources 
 modest is an email clent for platforms with limited resources, 
 built on top of the tinymail framework

